<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
  <meta name="verify-v1" content="VwsfuqMDT6tJq3Yb1//roH/TVjaXqjdn9s+XeVcRw3c=" />
  <meta name="robots" content="index, follow" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6491890-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-6491890-3');
  </script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.7.custom.min.js"></script>
  <script type="text/javascript" src="/js/jquery-barcode-last.min.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
  {% if page.highlight %}
  <link rel="stylesheet" type="text/css" href="/dp.SyntaxHighlighter/Styles/SyntaxHighlighter.css" />
  <script type="text/javascript" src="/dp.SyntaxHighlighter/Scripts/shCore.js"></script>
  <script type="text/javascript" src="/dp.SyntaxHighlighter/Scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="/dp.SyntaxHighlighter/Scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="/dp.SyntaxHighlighter/Scripts/shBrushPhp.js"></script>
  <script type="text/javascript">$(function(){dp.SyntaxHighlighter.HighlightAll();});</script>
  {% endif %}
  {% if page.script %}: <script type="text/javascript" src="/js/{{ page.script }}"></script>{% endif %}
</head>