<div id="menu">
    <div class="menu-item" id="menu-item-1"><div class="menu-item-label"><span>Accueil</span></div><div class="menu-item-block" id="menu-item-block-1" style="display: none;">
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/">Accueil</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/generateur-de-code-barres-en-ligne-2.html">Generateur en ligne</a></div></div>
    </div></div>
    <div class="menu-item" id="menu-item-2"><div class="menu-item-label"><span>Specifications</span></div><div class="menu-item-block" id="menu-item-block-2" style="display: none;">
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/liste-des-specifications-de-code-barres-100.html">Listing</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/specification-ean-8-101.html">EAN 8</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/specification-ean-13-102.html">EAN 13</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/specification-2-parmi-5-103.html">2 PARMI 5 STANDARD</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/specification-datamatrix-104.html">Data Matrix</a></div></div>
    </div></div>
    <div class="menu-item" id="menu-item-3"><div class="menu-item-label"><span>Code source</span></div><div class="menu-item-block" id="menu-item-block-3" style="display: none;">
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/code-barre-liste-source-200.html">Liste des portages</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/barcode-plugin-jquery-pour-creer-des-code-barres-201.html">Barcode : Plugin jQuery</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/barcode-plugin-prototype-pour-creer-des-code-barres-202.html">Barcode : Plugin Prototype</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/barcode-classe-php-pour-creer-des-code-barres-203.html">Barcode : Classe PHP</a></div></div>
        <div class="menu-item-block-item"><div class="menu-item-block-item-link"><a href="/fr/barcode-classes-java-pour-creer-des-code-barres-204.html">Barcode : Classes Java</a></div></div>
    </div></div>
    <div id="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="3RT7VJNS5NSGJ"><input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1"></form>
    </div>
    <div id="language">
        <a class="language en" href="/en/"></a>
        <a class="language fr activated" href="/fr/"></a>
    </div>
</div>